@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Karla:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1c1c;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
}

.main {
  width: 800px;
  height: auto;
  max-width: 90%;
  background-color: #1f2937;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
}
h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 5px;
}

.p2 {
  color: #4adf86;
  font-size: 40px;
  font-weight: 900;
  padding-left: 10px;
}

.sub-text {
  font-weight: 400;
  color: #d5d4d8;
  margin-bottom: 30px;
}

.enter {
  display: flex;
  justify-content: left;
  /* align-items: left; */
  margin: 5px;
}

#text {
  color: #ffffff;
  text-align: left;
  margin-right: 1em;
}

#gen {
  font-weight: 500;
  padding: 10px;
  background-color: #10b981;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  width: 50%;
}

.selections {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  align-items: left;
}

label {
 
  font-weight: 500;
  color: #d5d4d8;
  display: inline-block;
}

#len {
  caret-color: #d5d4d8;
  justify-content: center;
  background-color: #273549;
  width: 50px;
  height: 25px;
  color: aliceblue;
  border-radius: 3px;
}

.pass {
  margin-top: 15px;
  width: 100%;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  color: #55f991;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #2f3e53;
  border: none;
  margin: 1em 0;
}

#password {
  resize: none;
  width: 100%;
  height: auto;
  background-color: #273549;
  border-radius: 6px;
  color: #55f991;
  font-weight: 500;
  border: none;
  padding: 5px;
  margin-bottom: 15px;
}

#strength {
  font-weight: 500;
  color: #d5d4d8;
  /* margin-top: 5px; */
}

